:root {
    font-family: 'Arial';
    font-size: 13px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0rem 1rem;
}

a:hover {
    text-decoration: underline;
}

/* HEADER' STYLES */
.header > .nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar > .products {
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 0rem 1rem;
}

.nav-bar > .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0rem 1rem;
}

/* MAIN STYLES */

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main > .google-icon {
    width: 272px;
    height: 92px;
}

.main > .input-search {
    width: 582px;
    height: 44px;
    border: 1px solid gray;
    border-radius: 100px;
    padding: 0 20px;
}

.main > .input-search:focus {
    outline: none;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
}

.main > .buttons {
    margin-top: 16px;
}

.main > .buttons > button {
    margin-right: 16px;
    width: 153px;
    height: 36px;
    border: none;
    background-color: #F2F2F2;
}

/* FOOTER STYLES */
.footer {
    background-color: #F2F2F2;
}

.footer > p {
    border-bottom: 1px solid gray;
    padding: 12px 0;
}

.footer > div {
    display: inline-block;
    padding: 12px 0;
}