@import url("./fonts.css");

:root {
    font-family: 'Arial';
    font-size: 12px;
    background-color: gray;
}

.container {
    width: 55%;
    margin: auto;
    background-color: #F0F0F0;
    border: 1px solid black;
}

header > h1 {
    font-family: 'Old London';
    letter-spacing: 0.7rem;
    font-size: 7rem;
    margin: 1.5rem;
    text-align: center;
}

header > .header-subtitle {
    display: flex;
    font-size: 2rem;
}

header > .header-subtitle {
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header > .header-subtitle > p {
    margin: 1px;
    padding: 0 0.5rem;
}

main > h1 {
    font-size: 5rem;
    text-align: center;
    margin: 1rem;
    letter-spacing: 1rem;
    line-height: 5rem;
}

main > article {
    display: flex;
}

main > article > section {
    width: 50%;
}

main > article > section > h2 {
    font-size: 3rem;
    margin: 0 1rem;
    padding: 0.1rem 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Roboto';
}

main > article > section > div {
    display: flex;
}

main > article > section > div > p {
    padding: 0 1.2rem;
    text-align: justify;
}

main > article > section > img {
    width: 30rem;
}

main > article > section:last-child {
    padding-left: 1rem;
    border-left: 1px solid black;
}
